body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-items: center;
}

#board {
    background-color: lightgray;
    border-bottom: 1px solid black;
}

button {
    align-items: center;
}

#touch-area {
    width: 100vw;
    height: 20vh;
    background-color: lightgrey;
    line-height: 100vh;
    user-select: none;
}
